SPRING_PROFILE=dev

DB_URL=jdbc:mysql://localhost:3306/topviec?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

ES_URIS=http://localhost:9200
KAFKA_SERVERS=localhost:9092

JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

MAIL_USERNAME=
MAIL_PASSWORD=

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=topviec-files